@font-face {
    font-family: 'InkyThinPixels';
    src: url(font/ljk_Inky-Thin-Pixels.otf) format(opentype);
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'InkyThinPixels';
    margin: 0;
    padding: 0;
    background: url('files/background/bg.png') fixed;
    background-size: cover; 
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    position: relative;
}

.menu-burger{
    display: none;
}

/* Хедер */
.header {
    display: flex;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 90px;
    height: 90px;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

span{
    display: none;
}

.menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    left: 2%;
    position: relative;
}

.menu a {
    color: #fff;
    font-size: 24px;
}

.icns {
    display: flex;
    gap: 30px;
    position: relative;
}

.icns img {
    width: 60px;
    height: 60px;
}

/* Слайдер */
.slider {
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
}

.mySwiper {
    width: 100%;
    height: 600px;
    position: relative;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

.mySwiper .swiper-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Стрелки навигации */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    color: white;
}

/* Пагинация */
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #3d3d3d !important;
    opacity: 0.6;
    border-radius: 50%;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    opacity: 1 !important;
}

/* Блок "Что мы предлагаем?" */
.wtf p {
    font-size: 50px;
    font-weight: normal;
    margin-left: 80px;
}

/* Продукты */
.product-slider, .popular-slider {
    width: 85%;
    margin: 30px auto;
}

.product-wrapper, .popular-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 51px;
    flex-wrap: nowrap;
}

.product, .popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.product img, .popular img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

.product p, .popular p {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
}

/* Футер */
.fotter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.fotter-text a {
    font-size: 32px;
    padding-right: 10px;
}

.fotter-text {
    padding-left: 160px;
}

.contact-info{
    padding-right: 160px;
}

.contact-info p {
    font-size: 20px;
}

.contact-info a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}


h1{
    font-size: 50px;
    font-weight: normal;
    margin-left: 80px;
}

.h2-div h2 {
    line-height: 2; /* Увеличиваем межстрочный интервал в заголовке */
}


h2{
    font-size: 30px;
    font-weight: normal;
    margin-left: 80px;   
}

.h2-text{
    font-size: 20px;
    font-weight: normal;
    margin-left: 80px;
    margin-bottom: 10px;
}

.map{
    width: 1000px;
    height: 450px;
}

.map-phone{
    display: none;
}